<div class="content" role="main">
    <h2>Brain Team</h2>
    <p>The online community of rsearchers, innovators, technicians and entrepreneurs</p>

    <div class="card-container">
      <button class="card card-small" tabindex="0">
        <span>Retired professional</span>
      </button>
      <button class="card card-small" tabindex="0">
        <span>Civil servant</span>
      </button>
      <button class="card card-small" tabindex="0">
        <span>Technician</span>
      </button>
      <button class="card card-small" tabindex="0">
        <span>Researcher</span>
      </button>
      <button class="card card-small" tabindex="0">
        <span>Professor</span>
      </button>
      <button class="card card-small" tabindex="0">
        <span>Student</span>
      </button>
      <button class="card card-small" tabindex="0">
        <span>Engineer</span>
      </button>
    </div>

    <div class="input-group rounded m-5">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="width: 100%; display: flex;">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="name" formControlName="name" />
        <span class="input-group-text border-0" id="search-addon" style="background-color: inherit;">
          <button type="submit" style="border: 0; background: inherit;">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </form>
    </div>

    <app-users *ngIf="users && users.length != 0" [users]="users"></app-users>

  </div>
